{{#if email}}
    {{#each objects}}
        {{@Index}}
        <div class="card border-0" id="card{{_id}}">
            <div class="card-header threadCardHeader" id={{_id}} data-toggle="collapse" data-target='#collapse{{_id}}'>
                <h5 class="mb-0">
                    <button class="btn btn-link" id="button{{_id}}" type="button" aria-expanded="true" aria-controls='collapse{{_id}}'>
                        {{Title}}
                        <small>&lt{{Email}}&gt</small>
                    </button>
                </h5>
            </div>

            <div id='collapse{{_id}}' class="collapse" aria-labelledby={{_id}}   data-parent="#generalThreads">
                <div class="card-body">
                    {{Message}}
                    <div class="row commentTopMargin">
                        <div class="col-md-4">&nbsp;</div>
                        <div class="accordion col-md-8" id='accordion{{_id}}'>
                            <div class="card border-0">
                                <div class="card-header" data-toggle="collapse" data-target='#comments{{_id}}'>
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button">
                                            Comments
                                        </button>
                                    </h5>
                                </div>
                                <div id='comments{{_id}}' class="collapse" data-parent='#accordion{{_id}}'>
                                    <div class="card-body">
                                        <form action="/addComment" method="post">
                                            <input type="hidden" name="id" value="{{_id}}">
                                            <textarea class='comment-box' placeholder="Enter a message here" name="comment" id="comment" required></textarea>
                                            <button type="submit" class="btn">Submit</button>
                                            <!--<br>-->
                                            <ul>
                                                {{#each Comments}}
                                                    <li style="color: black">{{comment}} - {{email}}</li>
                                                {{/each}}
                                            </ul>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
{{else}}
    {{#each objects}}
        {{@Index}}
        <div class="card border-0" id="card{{_id}}">
            <div class="card-header threadCardHeader" id={{_id}} data-toggle="collapse" data-target='#collapse{{_id}}'>
                <h5 class="mb-0">
                    <button class="btn btn-link" id="button{{_id}}" type="button" aria-expanded="true" aria-controls='collapse{{_id}}'>
                        {{Title}}
                        <small>&lt{{Email}}&gt</small>
                    </button>
                </h5>
            </div>

            <div id='collapse{{_id}}' class="collapse" aria-labelledby={{_id}}   data-parent="#generalThreads">
                <div class="card-body">
                    {{Message}}
                    <div class="row commentTopMargin">
                        <div class="col-md-4">&nbsp;</div>
                        <div class="accordion col-md-8" id='accordion{{_id}}'>
                            <div class="card border-0">
                                <div class="card-header" data-toggle="collapse" data-target='#comments{{_id}}'>
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button">
                                            Comments
                                        </button>
                                    </h5>
                                </div>
                                <div id='comments{{_id}}' class="collapse" data-parent='#accordion{{_id}}'>
                                    <div class="card-body">
                                        <ul>
                                            {{#each Comments}}
                                                <li style="color: black">{{comment}} - {{email}}</li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
{{/if}}